<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today Log</title>
    <link rel="stylesheet" href="todo.css" type="text/css">
    <style>
        #task-head{
            margin-left: 10px;
            }
    </style>
</head>
<body>
    <div id="container">
        <b id="task-head">이번 달 학습 계획</b><hr>
        <!--모달 창 열기 버튼-->
        <button id="btn-modal">+</button><br><br>
            <!--여기에 todolist 작성-->
            <div id="task-board">
                할 일 목록이 여기에 출력됩니다.
            </div>
    </div>
    <!--여기부터 모달-->
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2>Monthly Log</h2>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">이번 달 내로 마쳐야 하는 일과 사건에 대한 개요입니다.</h5>
                        </div>
                        <form action="Todo.do" method="post">
                        <div class="modal-body">
                            <div>
                                <input type="text" class="modal-text" placeholder="Todo" name = "todoHead">
                                <br>
                            </div>
                            <div>
                                <br><textarea class="modal-textarea" name="todoBody" id="additional-content" placeholder="추가로 메모를 하고 싶다면&#13;&#10;이곳에 작성하세요."></textarea>
                            </div>
                        </div>
                        <div id="checkbox-area">
                            #
                            <input type="checkbox" class="check" id="tag-check1" name="tag" value="homework" autocomplete="off">
                            <label for="tag-check1" align="center">숙제</label>

                            <input type="checkbox" class="check" id="tag-check2" name="tag" value="exam" autocomplete="off">
                            <label for="tag-check2" align="center">시험</label>

                            <input type="checkbox" class="check" id="tag-check3" name="tag" value="review" autocomplete="off">
                            <label for="tag-check3" align="center">복습</label>
                            
                            <input type="checkbox" class="check" id="tag-check4" name="tag" value="preview" autocomplete="off">
                            <label for="tag-check4" align="center">예습</label>
                            
                            <input type="checkbox" class="check" id="tag-check5" name="tag" value="memo" autocomplete="off">
                            <label for="tag-check5" align="center">메모</label>
                        </div>
                        <div class="modal-footer">
                            <br>
                                <label for="datesel">다른 날짜 선택</label>
                                <input type="date" id="datesel" name='date'>
                            <button type="submit" class="save-button" data-bs-dismiss="modal">입력</button>         
                        </div>
                    </form>
                    </div>                  
            </div>
        </div>
    </div>
    <!--여기까지-->

    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="todo.js"></script>
    <script src="modal.js"></script>
</body></html>