<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.NoteDAO"> <!-- Mapper 경로 추가 -->
	<select id="selectAll" resultType="Note">
  		select * from tbl_note
  	</select>
  	<insert id="insert" parameterType="Note">
		insert into tbl_note(user_id,note_title,
		note_content,note_date,note_parent)
		values(#{user_id},#{note_title},#{note_content},to_date(sysdate,'yy-mm-dd'),1)
  	</insert>
  	<select id="selectOne" resultType="Note">
  		select * from tbl_note 
  		where note_seq = #{note_seq}
  	</select>
  	<update id="update" parameterType="Note">
  		update tbl_note 
  		set note_title = #{note_title},note_content = #{note_content},user_id = #{user_id} where note_seq = #{note_seq}
  	</update>
  	<delete id="delete">
  		delete from tbl_note 
  		where note_seq = #{note_seq}
  	</delete>
</mapper>