<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="com.smhrd.model.TodoDAO">

	<insert id="TodoInsert" parameterType="com.smhrd.model.TodoDTO">
		insert into tbl_todo_list(todo_seq,todo_title,todo_content,todo_tag,todo_yn,user_id,reg_date)
		values(tbl_todo_list_SEQ.nextval,#{todo_title},#{todo_content, jdbcType=VARCHAR},#{todo_tag, jdbcType=VARCHAR},0,#{user_id},#{reg_date})
	</insert>
	
	<update id="updateCheck">
	 	update tbl_todo_list set todo_yn=1 where todo_seq=#{todonum}
	</update>
	<update id="updateUndo">
	 	update tbl_todo_list set todo_yn=0 where todo_seq=#{todonum}
	</update>
	<update id="dragUpdate" parameterType="com.smhrd.model.TodoDTO">
	 	update tbl_todo_list set reg_date=#{reg_date} where todo_seq=#{todo_seq}
	</update>
	<update id="todoEditUpdateF" parameterType="com.smhrd.model.TodoDTO">
	 	update tbl_todo_list set todo_title=#{todo_title}, todo_content=#{todo_content, jdbcType=VARCHAR}, todo_tag=#{todo_tag, jdbcType=VARCHAR}, todo_yn=#{todo_yn} where todo_seq=#{todo_seq}
	</update>
	<update id="todoEditUpdateT" parameterType="com.smhrd.model.TodoDTO">
		update tbl_todo_list set todo_title=#{todo_title}, todo_content=#{todo_content, jdbcType=VARCHAR}, todo_tag=#{todo_tag, jdbcType=VARCHAR}, todo_yn=#{todo_yn},reg_date=#{reg_date} where todo_seq=#{todo_seq}
	</update>
	
	<select id="TodoSelect" resultType="TodoDTO" parameterType="TodoDTO">
		select * from tbl_todo_list where user_id=#{user_id}
	</select>
	<select id="selectyn" resultType = "TodoDTO">
		select * from tbl_todo_list
	</select>
	
	 <delete id="TodoDelete">
	 	delete from tbl_todo_list where todo_seq=#{todonum}
	 </delete>
	
	</mapper>