<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="com.smhrd.model.TodoDAO">

	<insert id="TodoInsert" parameterType="com.smhrd.model.TodoDTO">
		insert into tbl_todo_list(todo_seq,todo_title,todo_content,todo_tag,todo_yn,user_id,reg_date)
		values(tbl_todo_list_SEQ.nextval,#{todo_title},#{todo_content},#{todo_tag},0,#{user_id},#{reg_date})
	</insert>
	<select id="todoSelect" resultType="TodoDTO" parameterType="string">
		select * from tbl_todo_list where user_id=#{id}
	</select>
	
	</mapper>