@charset "UTF-8";
      
            span >div > .user-menuselect:hover{
                background: rgba(55, 53, 47, 0.08);
            }

        .header.jsx-2604928324{position:fixed;
        width:100%;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-flex-direction:column-reverse;
        -ms-flex-direction:column-reverse;
        flex-direction:column-reverse;
        background:#FFFEFC;
        z-index:100}
        
        .inner.jsx-2604928324{display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-align-items:center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        width:100%;
        padding:0 24px;
        max-width:1392px;
        margin:0 auto;
        height:60px;
        -webkit-transition:250ms height;
        transition:250ms height 
        }

        span >div > .user-menuselect > .moya{
             display: none;
            }
            
            span >div > .user-menuselect:hover .moya{
                display: block;
                margin-left: 130px;
            }

@charset "utf-8";

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: none;
}
.modal-window {

    box-shadow: 0 6px 10px 0 rgb(155, 155, 155);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 2px solid rgba(43, 43, 43, 0.18);
    width: 500px;
    height: 330px;
    position: relative;
    top: -100px;
    padding: 10px;
}
.title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    color: rgb(155, 155, 155);
}
.title h2 {
    display: inline;
}
.close {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    color: rgb(155, 155, 155);
}
.content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    color:rgb(155, 155, 155);
}
.date-button{
    display: inline;
    cursor: pointer;
    color: rgb(114, 114, 114);
}
.save-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: right;
    background: var(--button-bg-color);
    color: var(--button-color);
    margin: 0;
    padding: 4px 8px;
    
    font-family: 맑은고딕,arial;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 5px;
    
    /* display: inline-block; */
    width: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
    --button-bg-color: #faecec;
    --button-hover-bg-color: #ddd0d0;
}
button:active,
    button:hover,
    button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    }
    button:disabled {
    opacity: 0.5;
    }
.modal-text{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #b9b9b9;
    border-radius: 5px;
    color: #808080;
    font-family: 맑은고딕,arial;
    font-size: 15px;
}
.modal-textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #b9b9b9;
    border-radius: 5px;
    font-size: 15px;
    font-family: 맑은고딕,arial;
    color: #808080;
    resize: none;
}
input[class="check"] + label {
            display: inline-block;
            width: 55px;
            height: 22px;
            border: 2px solid #bcbcbc;
            cursor: pointer;
            border-radius: 5px;
            }
input[class="check"]:checked + label {
                background-color: #b3b1b1;
                color: rgb(255, 255, 255);
                text-shadow: 1px 1px 2px rgb(146, 146, 146);
                }
input[class="check"] {
                    display: none;
                }

.btn-modal{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--button-bg-color);
    color: var(--button-color);
    margin: 0;
    padding: 0px 4px;
    display: inline;
    float: right;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    color: rgb(190, 190, 190);
    border: none;
    font-size: 30px;
}

.todoTable{
    font-family: 맑은고딕, Arial;
    font-size:15px;
    color: rgb(122, 122, 122);
}

.task-done{
    color:#cccccc;
}
#task-head-today{
    font-family: 맑은고딕, Arial;
    background-color: rgb(193, 218, 218);
    color:#747888;
    display: inline-block;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 18px; 
    margin-left: 30px;
}
#container-today{
    border-radius: 10px;
    border: 1.5px solid rgba(43, 43, 43, 0.18);
    width: 180px;
    height: 400px;
    top: 210px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 0px;    
    position: absolute; top:300px; right: 0; left:400px;         
}

#task-board-today{
    margin-left: 10px;
    font-family: 맑은고딕, Arial;
    font-size: 15px;
    color:#888888;
    cursor: pointer;
}
#task-head-monthly{
    font-family: 맑은고딕, Arial;
    background-color: rgb(193, 218, 218);
    color:#747888;
    display: inline-block;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 18px;
    margin-left: 10px;
}
#container-monthly{
    border-radius: 10px;
    border: 1.5px solid rgba(43, 43, 43, 0.18);
    width: 200px;
    height: 400px;
    top: 210px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 0px;    
    position: absolute; top:300px; right: 0; left:620px;      
}
#task-board-monthly{
    margin-left: 5px;
    font-family: 맑은고딕, Arial;
    font-size: 15px;
    color:#888888;
    cursor: pointer;
}

#task-head-future{
    font-family: 맑은고딕, Arial;
    background-color: rgb(193, 218, 218);
    color:#747888;
    display: inline-block;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 18px;
    margin-left: 20px;
}
#container-future{
    border-radius: 10px;
    border: 1.5px solid rgba(43, 43, 43, 0.18);
    width: 180px;
    height: 400px;
    top: 210px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 0px;  
    position: absolute; top:300px; right: 0; left:860px;           
}
#task-board-future{
    margin-left: 10px;
    font-family: 맑은고딕, Arial;
    font-size: 15px;
    color:#888888;
    cursor: pointer;

}
 


  .calendar {
    width: 600px;
    margin: 50px;
    position: absolute; top:100px; right: 0; left:1040px;   
    box-sizing: border-box;
  }

  .cal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  
  .year-month {
    font-size: 20px;
    box-sizing: border-box;
  }
  
  .nav {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .go-today {
    width: 60px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
  }
  .go-prev, .go-next{
    font-size: 25px;
    color:#b8b8b8;
    box-sizing: border-box;
  }


  .days {
    display: flex;
    margin: 25px 0 10px;
    box-sizing: border-box;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
    box-sizing: border-box;
  }
  
  .dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    box-sizing: border-box;
    
  }
  
  .date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    box-sizing: border-box;
  }

  .day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #ff0000;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
    opacity: .3;
  }
.this{
  cursor: pointer;
}

  .today {
    position: relative;
    color: #FFFFFF;
  }
  
  .today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 26px;
    height: 26px;
    background-color: #ff0000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
  }

  .caltodo{
    font-size: 11px;
    color: #929292;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

        .menu{
            width: 90px;
            height: 100px;
            border: 1px solid rgb(218, 218, 218);
            border-radius: 3px;
            font-family: Georgia, "맑은 고딕", serif;
            background-color: white;
            
        }
        .context-btn{
            color:rgb(139, 139, 139);
            text-decoration: none;
            display: block;
            cursor: pointer;
        }
        .context-btn:hover{
            color:rgb(139, 139, 139);
            background-color: rgb(238, 238, 238);
            }
        .menuimg{
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }  
        #wrapper{
            position: absolute;
            top: 2px;
            left: 5px;
        }  
        .task{
    cursor: pointer;
}
.task:hover{
    background-color: rgb(236, 236, 236);
}
.todoseq{
    display:none;
}


        