@charset "UTF-8";
    #editable{
    	display: none;
        position: fixed;
        width: 600px;
        height: 100%;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 5px;
        padding: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        right:0px;
        background-color:white;
    }
    .editheader{
        height: 44;
        width: 100;
    }
    #edit-close{
        user-select: none; 
        transition: background 20ms ease-in 0s; 
        cursor: pointer; 
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        flex-shrink: 0; 
        border-radius: 3px; 
        height: 24px; 
        width: 24px; 
        padding: 0px;}
    .editbody{
        margin-left: 50px;
    }
    #edittitle{
        max-width: 100%;
        width: 100%; 
        white-space: pre-wrap; 
        word-break: break-word; 
        caret-color: rgb(55, 53, 47); 
        padding: 3px 2px;
        font-size: 30px;
        font-weight: 800;
        display:inline-block;

        }
    .editimg{
        display: flex;
        width: 16px; 
        height: 16px; 
        fill: rgba(55, 53, 47, 0.45); 
        flex-shrink: 0; 
        backface-visibility: hidden;
        margin-top: 5px;
        }
    #edittag{
        display: inline-block;
        cursor: pointer;
    }
    #editdate{
        display: inline-block;
        cursor: pointer;}
    .subwrap{
        width: 100px;
        display: flex;
        color: gray;
        float:left;
    }
    .editsub{
        padding-left: 10px;
    }
    
    input[type='date']{padding: 1px 1.5px; font-size:15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border:none;
    }
    input[type='text']{
        border: 1px solid rgb(201, 201, 201);
        border-radius: 5px;
    }
    input[type='submit']{
        border: 1px solid rgb(194, 194, 194);
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        color: gray;
        float: right;
        width: 50px;
        height: 30px;
        box-shadow: 1px 1px 4px rgb(143, 143, 143);
    }
    input[type='submit']:hover{
        background-color: rgb(197, 197, 197);
        color: white;
    }
    #datepicker{
        display: none;
    }
    #tagbox{
        display:none;
    }
    #calimg{
        width: 15px;
        height: 15px;
        position: relative;
        top: 4px;
        left: -20px;
        pointer-events: none;
    }
    #status{
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
    }
    #editcontent{
        cursor:pointer;
    }
    #status:hover,#editdate:hover,#edittag:hover,#editcontent:hover,#edittitle:hover{
        background-color: rgb(235, 235, 235);
        color:  rgb(143, 143, 143);   }
    #editinput{
        width:100%;
        height: 400px;
        display: none;
    }
    #titleinput{
        display: none;
        width: 300px;
        height: 50px;
        font-size: 30px;
        font-weight: 800;
    }
    .goright{
    transition: all 0.3s;
    transform: translateX(700px);
	}
	
	.goleft{
    transition: all 0.3s;
    transform: translateX(-700px);
	}
	
	
	
	
	
	        #glassimg{
            width: 20px;
            height: 20px;
            margin-top:4px;
            margin-left: 10px;
            float: left;
            filter: opacity(0.4) drop-shadow(0 0 0 rgb(255, 255, 255));
        }
        #tagcheck-area{
            float: left;
        }
        #btn-tag{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: var(--button-bg-color);
            color: var(--button-color);
            border: none;
            cursor: pointer;
        }
        .tag-window {
            box-shadow: 0 6px 10px 0 rgba(134, 134, 134, 0.37);
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            border: 2px solid rgba(43, 43, 43, 0.18);
            width: 400px;
            height: 330px;
            position: relative;
            top: -100px;
            padding: 10px;
            display: inline;
        }
        .tagtitle{
            margin-left: 15px;
            margin-bottom: 5px;
            font-family: 맑은고딕, Arial;
            font-size: 15px;
            color:#888888;
        }
        #tagsearch{
            border: 2px solid rgba(43, 43, 43, 0.18);
            border-radius: 10px;
            width: 400px;
            height: 70px;
            padding-left: 10px;
            padding-top: 10px;
            position: absolute;
            top: 180px;
            left: 510px;
        }
        .tagresulttable{
            width: 380px;
        }
        #tagwrapper{
            position: relative;
        }